/*All passage*/
[data-tags="passage"] #passages {
  background-color: rgba(0, 0, 0, 0.6);
  min-height: 90vh;
  margin: 0 auto;
}
/*mobile*/
@media screen and (max-width: 700px) {
  [data-tags="passage"] #passages {
    min-width: 100%;
    min-height: 100vh;
  }
  [data-tags="passage"] #story {
    margin: 0;
    padding: 0;
  }
}
